// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


li {
  display: flex;
  justify-content: start;
  align-items: center;
}

.far {
  padding: 16px;
}
